<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <h1>Signup!</h1>

  <%= form_for :user, url: '/users' do |f| %>

    Name: <%= f.text_field :name %> <br>
    Email: <%= f.text_field :email %> <br>
    Password: <%= f.password_field :password %> <br>
    Password Confirmation: <%= f.password_field :password_confirmation %>
    <%= f.submit "Submit" %>

  <% end %>
  </body>
</html>
