<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
</head>
<body class="background_bw">
  <%= form_for :place, method: 'create', url: {action: "create"} do |f| %>
<%= label(:place, :name) %><br>
<%= f.text_field :name %><br>
<%= label(:place, :address) %><br>
<%= f.text_field :address %><br>
<%= label(:place, :latitude) %><br>
<%= f.text_field :latitude %><br>
<%= label(:place, :longitude) %><br>
<%= f.text_field :longitude %><br>
<br>
<%= f.submit "Save This Place" %>
<% end %>

<%= render 'footer' %>
</body>
</html>
