<body class="background_bw">
  <%= form_for :place, method: 'create', url: {action: "create"} do |f| %>
<%= render "layouts/header" %>

<%= label(:place, :name) %><br>
<%= f.text_field :name %><br>
<%= label(:place, :address) %><br>
<%= f.text_field :address %><br>
<%= label(:place, :latitude) %><br>
<%= f.text_field :latitude %><br>
<%= label(:place, :longitude) %><br>
<%= f.text_field :longitude %><br>
<br>
<%= f.submit "Save This Place" %>
<% end %>

</body>

<%= render "layouts/footer" %>

