<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
</head>
<body class="container">
<h1>One Place at a Time, Bruh!</h1>
<h2>Name: <%= @place.name %></h2>
  <ul>
  <li>Address: <%= @place.address %></li>
  <li>Latitude: <%= @place.latitude %></li>
  <li>Longitude: <%= @place.longitude %></li>
  </ul>
<br><hr>
<h2>Comments</h2>
<% @comment.each do |c| %>
<p><%= c.content %></p>

<% end %>
<br><hr>
<%= form_tag(controller: "comments", method: "POST") do %>
  <%= label_tag(:comment, "Comment On Your Experiece") %>
  <%= text_field_tag(:comment) %>
  <%= hidden_field_tag('id', @place.id) %>
  <%= submit_tag("Comment") %>
<% end %>
</body>
</html>
