<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
</head>
<body>
  <%= render 'layouts/header' %>
<h1>One Place at a Time, Bruh!</h1>
<h2>Name: <%= @place.name %></h2>
  <ul>
  <h4><li>Address: <%= @place.address %></li></h4>
  <h4><li>Latitude: <%= @place.latitude %></li></h4>
  <h4><li>Longitude: <%= @place.longitude %></li></h4>
  </ul>
<br><hr>
<h2>Comments</h2>
<% @comment.each do |c| %>
<ul>
  <li><%= c.content %></li><%= link_to "Delete Comment", comment_path(c.id), method: :delete, data: {id: c.id, confirm: "Are you sure you want to delete this?"} %>
</ul>

<% end %>
<br><hr>
<%= form_tag(controller: "comments", method: "POST") do %>
  <%= label_tag(:comment, "Comment On Your Experiece") %>
  <%= text_field_tag(:comment) %>
  <%= hidden_field_tag('id', @place.id) %>
  <%= submit_tag("Comment") %>
<% end %>
<%= render 'layouts/footer' %>
</body>
</html>
