<!-- Dropdown Structure from Materialize docs http://materializecss.com/navbar.html-->
<!-- Dropdown Items -->
<header>

<!-- sessions info was here -->

<!--   <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!" class="black-text">Grub</a></li>
    <li class="divider"></li>
    <li><a href="#!" class="black-text">Dranks</a></li>
    <li class="divider"></li>
    <li><a href="#!" class="black-text">Hangouts</a></li>
  </ul> -->
  <!-- <nav class="white"> -->
  <nav class="black">
    <div class="nav-wrapper">
     <a href="/places" class="brand-logo"><%= image_tag("galb_white.png", size: "125x52", alt: "GA Lunch Break") %></a>
     <ul class="right hide-on-med-and-down">
        <!-- <div class="sessions-bar grey lighten-3"> -->
          <% if current_user %>
            <li><span class="header-username">Signed in as <%= current_user.name %></span></li>
            <!-- <li> | </li> -->
            <li><%= link_to "Logout", '/logout', class: "header-tab" %></li>
          <% else %>
            <li><%= link_to 'Login', '/login', class: "header-tab" %></li> <li><%= link_to 'Sign Up', '/signup', class: "header-tab" %></li>
          <% end %>
        <!-- </div> -->
       <!-- Dropdown Trigger-->
        <!-- <li><a class="dropdown-button black-text" href="#!" data-activates="dropdown1"><h5>Categories</h5></a></li> -->
        <!-- Login info provided by sessions -->
        <!-- <li><a href="#" class="black-text"><h5>Log In</h5></a></li> -->
        <!-- <li><a href="#" class="black-text"><h5>Sign Up</h5></a></li> -->
      </ul>
    </div>
  </nav>

</header>


